 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    font-family: 'Titillium Web', sans-serif;
    }

span, i {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: #FFDF6C;
    }

.sidebar:hover {
    opacity:0.4;
    }

#title {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    }

#new-task, #tasks, #sign-out, #register, #login {
    color: #FFDF6C;
    }

.textarea:focus, .textinput:focus, .form-control:focus, .form-select:focus{
    box-shadow: rgb(255, 223, 108) 0 0 1.5em;
    border: 1px solid rgb(255, 223, 108);
    }

.btn-success {
    background-color: rgb(255, 223, 108);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 223, 108);
    transition: 0.3s linear;
    }

.btn-success:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 223, 108);
    border: 1px solid rgb(0, 0, 0);
    }

#id_complete:checked {
    background-color: rgb(255, 223, 108);
    border-color: rgb(255, 223, 108);
    box-shadow: rgb(255, 223, 108) 0 0 1.5em;
    }

#id_complete:focus{
    border-color: rgb(255, 223, 108);
    box-shadow: rgb(255, 223, 108) 0 0 1.5em;
    }

.btn-outline-success {
    background-color: #FFF;
    color: rgb(255, 223, 108);
    border: 1px solid rgb(255, 223, 108);
    transition: 0.3s linear;
    }

.btn-outline-success:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 223, 108);
    border: 1px solid rgb(0, 0, 0);
    }

.form-control, .form-select {
    border: 1px solid rgb(255, 223, 108);
    }

.list-group-item {
    border-top-width: 1px;
    border-bottom-width: 1px;
    }

a {
    text-decoration: none;
    color: rgb(33, 37, 41);
    }

a:hover {
    color: rgb(255, 223, 108);
    }

.bi-check, .bi-trash-fill, .bi-pen-fill, .bi-arrow-left-circle {
    transition: 0.3s;
    }

.bi-check {
    color: rgb(50,205,50);
    }

.bi-trash-fill {
    color: rgb(220,20,60);
    }

.bi-trash-fill:hover {
    opacity: 0.4;
    }

.bi-pen-fill:hover, .bi-arrow-left-circle:hover {
    color: rgb(33, 37, 41);
    }

.bi-dash {
    color: rgb(220, 20, 60);
    }

[class^="bi-"]::before, [class*=" bi-"]::before, .bi-plus-circle, .bi-card-checklist {
    line-height: 1.3;
    }

.category {
    text-align: center;
    width:20%;
    border-top-width: 0px;
    color: #FFF;
    border-radius: 10px;
    margin: 5px 0;
    }

.special {
    color: rgb(255, 223, 108);
    }

.special:hover {
    color: rgb(33, 37, 41);
    }